* {
    padding: 0;
    margin: 0;
    background-color: rgb(250, 250, 250);
}

h1 {
    text-align: center;
    font-family: Newsreader;
    font-size: 3rem;
    letter-spacing: -1.28px;
}

h2 {
    padding-top: 2rem;
    color: #000;
    text-align: center;
    font-family: Newsreader;
    font-size: 2rem;
    font-style: italic;
}

h3 {
    color: #000;
    font-family: Unna;
    font-size: 3rem;
}

main {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .portada {
        width: $anchoPORT;
        height: $altoPORT;
        border-radius: $borderRad;
        transition: 1s;

        &:hover {
            transform: scale(1.03);
            filter: none;
        }
    }

    .section-presentacion {
        @include flex-column-center;

        .descripcion {
            width: 15rem;

            span {
                display: block;
                color: #000000c0;
                text-align: center;
                font-family: Antic Didone;
                font-size: 1.3rem;
            }
        }
    }
}

.main-abtme {
    display: grid;
    gap: 10px;
    grid-template-areas:
        "titulo-abtme"
        "container-abtme"
        "titulo-education"
        "container-education"
        "titulo-s_skills"
        "parrafo-s_skills";
    padding-bottom: 40px;

    .titulo-abtme {
        grid-area: titulo-abtme;
    }

    .container-abtme {
        grid-area: container-abtme;
        @include flex-row-center;
        gap: 7rem;
        padding-top: 3%;
        flex-wrap: wrap;

        img {
            width: 14rem;
            height: 22rem;
            border-radius: 50px;
            transition: 1s;

            &:hover {
                @include transition-scale;
            }
        }
    }

    .titulo-education {
        grid-area: titulo-education;
    }

    .container-education {
        grid-area: container-education;
        padding-top: 2rem;
        @include flex-row-center;
        flex-wrap: wrap;

        .column-edc {
            padding-top: 3%;
            padding-left: 5%;
            padding-right: 5%;

            ul {
                list-style: none;

                li {
                    padding-top: 3%;
                    padding-bottom: 3%;

                    .card {
                        width: 23rem;
                        height: 13rem;
                        transition: 1s;

                        .card a img {
                            height: 4rem;
                        }

                        &:hover {
                            @include transition-scale;
                        }
                    }
                }
            }
        }
    }

    .titulo-s_skills {
        grid-area: titulo-s_skills;
    }

    .parrafo-s_skills {
        grid-area: parrafo-s_skills;
        width: 100%;

        #parrafo-s_skills {
            color: #000000d7;
            text-align: justify;
            font-family: NanumMyeongjo;
            font-size: 20px;
            letter-spacing: -0.6px;
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 3%;
            padding-bottom: 5%;
        }
    }
}

.main-my_prjc {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas:
        "titulo-prjc"
        "container-video"
        "title-film"
        "container-film"
        "title-theatre"
        "container-theatre"
        "container-film_footer";
    padding-bottom: 40px;

    .titulo-my_prjc {
        grid-area: titulo-prjc;
    }

    .container-video {
        grid-area: container-video;
        @include flex-row-center;
        gap: 10%;
        padding-top: 3%;
    }

    .film-title {
        grid-area: title-film;
    }

    .container-film {
        grid-area: container-film;
        @include flex-row-center;
        flex-wrap: wrap;

        .columna-film {
            @include padding-lados;

            ul {
                list-style: none;
            }
        }
    }

    .theatre-title {
        grid-area: title-theatre;
    }

    .container-theatre {
        grid-area: container-theatre;
        padding-top: 2rem;
        @include flex-row-center;
        flex-wrap: wrap;

        .columna-theatre {
            @include padding-lados;

            ul {
                list-style: none;

                li {
                    padding-top: 3%;
                    padding-bottom: 3%;
                }

                #li-theatre {
                    padding-top: 1.5rem;
                    padding-bottom: 2rem;
                }
            }
        }
    }

    .container-film_footer {
        grid-area: container-film_footer;
        padding-top: 2rem;
        @include flex-row-center;
        flex-wrap: wrap;
        padding-bottom: 2rem;

        div {
            padding-top: 3%;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.main-gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-template-areas:
        "titulo-gll"
        "container1"
        "container2"
        "container3";
    padding-bottom: 40px;

    .titulo-gll {
        grid-area: titulo-gll;
    }

    img {
        transition: 1s;

        &:hover {
            transform: scale(1.03);
            filter: none;
        }
    }

    .container1-gallery {
        @include container-gallery;
        grid-area: container1;

        img {
            width: 16rem;
            height: 22rem;
            object-fit: cover;
        }
    }

    .containder2-gallery {
        @include container-gallery;
        grid-area: container2;

        iframe {
            @include size-contentGallery;
        }
    }

    .container3-gallery {
        @include container-gallery;
        grid-area: container3;

        img {
            width: 16rem;
            height: 22rem;
            object-fit: cover;
        }

        iframe {
            @include size-contentGallery;
        }
    }
}

.container-ctc {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20%;
    padding-bottom: 10px;

    .columna-ctc {
        padding-top: 3%;
        padding-left: 20%;

        .img-ctcme1 {
            @include size-img-ctc;
            margin-left: -2.5rem;
            margin-top: -3rem;
            position: relative;
        }

        .img-ctcme2 {
            @include size-img-ctc;
            margin-top: -8.3rem;
            margin-left: 6rem;
            position: relative;
        }

        .img-ctcme3 {
            @include size-img-ctc;
            margin-top: -7rem;
            margin-left: -3.1rem;
            position: relative;
        }
    }

    .columna-text {
        padding-top: 3%;
        padding-right: 15%;
        @include flex-column-center;

        .text-ctc {
            text-align: end;

            span {
                display: block;
                color: #000000bb;
            }

            i {
                color: #000;
                font-size: 1.2rem;
            }
        }

    }
}